<form action="<%= library_search_path %>" method="GET">
	
	<div class="input string smart_label">
		<label for="term">Search the library</label>
		<input type="text" id="term" name="term" />
	</div>
	
	<input type="submit" value="Go">
	
</form>