<section id="primary_content">
	
	<h1 class="tip" title="Our collective bookmarking brain">The Library <%= ":#{params[:term]}" if params[:term] %></h1>
		
	<ul class="grid_list grid_four">
	<% @bookmarks.each do |bookmark| %>
		<li class="small_panel">
			<h2><%= link_to truncate(bookmark.title, :length => 80, :omission => '&hellip;').html_safe, bookmark.url %></h2>
		</li>
	<% end %>
	</ul>
	
</section>

<aside id="secondary_content">
	
	<%= render "form" %>
	
	<% if @tags.any? %>
	<h2>Tags</h2>
	<ul>
		<% @tags.each do |t| %>
		<li><%= link_to t.title, bookmark_tag_path(t) %></li>
		<% end %>
	</ul>
	<% end %>
	
</aside>