<section id="primary_content">
	
	<h1>The Library <%= ":#{params[:term]}" if params[:term] %></h1>
	<p>Our collective bookmarking brain.</p>
	
	<ul>
	<% @bookmarks.each do |bookmark| %>
		<li>
			<strong><%= link_to bookmark.title, bookmark.url %></strong>
		</li>
	<% end %>
	</ul>
	
</section>

<aside id="secondary_content">
	
	<h2>Search the Library</h2>
	<%= render "form" %>
	
	<% if @tags.any? %>
	<h2>Tags</h2>
	<ul>
		<% @tags.each do |t| %>
		<li><%= link_to t.title, bookmark_tag_path(t) %></li>
		<% end %>
	</ul>
	<% end %>
	
</aside>