<% if @categories %>
<h2>Conversation topics</h2>
	<ul>
		<% @categories.each do |category| %>
			<li><%= link_to category.title, categorised_conversation_posts_path(category.slug) %></li>
		<% end %>
	</ul>
<% end %>