<section id="primary_content">
	<h1><%= @post.title %></h1>
	<time><%= @post.created_at.to_formatted_s(:long_ordinal) %></time>
	<%= markdown.render(@post.body).html_safe %>
</section>

<aside id="secondary_content">
	<%= render :partial => "categories" %>
</aside>