<p>Check out the user <a href='https://github.com/goodfornothing/goodfornothing/wiki'>documentation</a> for help on using the Hive.</p>
<p><a href="mailto:hello@goodfornothing.com">Drop us a note</a> if that doesn't do the trick!</p>