<p>The <a href='https://github.com/goodfornothing/goodfornothing/wiki'>Wondrous Wiki</a> is where we can all share what we're learning aboud doing Good For Nothing. Whether you're looking for something (a kick ass playlist, help using the Hive or advice on getting good challenges) or you've something to share (great tips on blagging, framing briefs or running things magically) you're in the right place. </p>
<p>Visit the <a href='https://github.com/goodfornothing/goodfornothing/wiki'>Wondrous Wiki</a> now!</p>
<p>If you've got any other questions you can pop them in the crews' <a href='https://groups.google.com/forum/#!forum/good-for-nothing-crew'>google group</a>, or <a href="mailto:hello@goodfornothing.com">drop mothership a note</a> and we'll get back to you as soon as we get a mo!</p>
