<section id="primary_content">

	<h1><%= (@category) ? "Blog: #{@category.title}" : "Good for Blogging" %></h1>
	<% @posts.each do |post| %>
		<%= render :partial => "block", :locals => { :post => post }%>
	<% end %>
	
	<%= paginate @posts %>
	
</section>

<aside id="secondary_content">
	<%= render :partial => "categories" %>
</aside>