<section id="primary_content">
	<% @posts.each do |post| %>
		<h2><%= post.title %></h2>
		<p><strong><%= post.created_at.to_formatted_s(:long_ordinal) %></strong></p>
		<%= simple_format post.body %>
	<% end %>
</section>