<section id="primary_content">
	<h2><%= @post.title %></h2>
	<time><%= @post.created_at.to_formatted_s(:long_ordinal) %></time>
	<%= simple_format @post.body.html_safe %>
</section>

<aside id="secondary_content">
	<%= render :partial => "categories" %>
</aside>