block = '<%= escape_javascript( render( :partial => "ideas/block", :locals => { :idea => @idea } ) ) %>';
$('#contributions').prepend("<li class='contribution' style='display: none'>"+block+"</li>");
scrollToElement($('#contributions')[0]);
$('#contributions li:first-child').slideDown();
$('#new_idea')[0].reset();
$('#new_idea textarea').blur();
