<section id="primary_content" class="single">

	<%= simple_form_for(resource, :as => resource_name, :url => talents_path, :html => { :method => :put, :class => "primary_panel" }) do |f| %>
	  	
		<h1>Let other members contact you</h1>
		
		<fieldset class="abstract">
			<p>The Good for Nothing community is buzzing with amazing folks like yourself, would you like to let them contact you through your GFN profile? You're email address will be kept private!</p>
		</fieldset>
		
		<fieldset>
			<%= f.input :can_be_contacted, :as => :hidden, :input_html => { :value => 1 } %>
	    	<%= f.button :submit, "Ok, count me in!" %>
		</fieldset>
	
	<% end %>
	
</section>