block = '<%= escape_javascript( render( :partial => "comments/block", :locals => { :comment => @comment, :commentable => @commentable } ) ) %>';
$('#contributions').prepend("<li class='contribution' style='display: none'>"+block+"</li>");
scrollToElement($('#contributions')[0]);
$('#contributions li:first-child').slideDown();
$('#new_comment')[0].reset();
$('#new_comment textarea').blur();
