<section id="primary_content">
	<h1>Links matching '<%= params[:term] %>'</h1>
	<%= render :partial => "list", :locals => { :bookmarks => @bookmarks } %>
</section>

<aside id="secondary_content">
	<%= render "search_form" %>
	<%= render :partial => "library/tags/list", :locals => { :tags => @tags } %>
</aside>