@media print,tty {

	/* Apply some new styles */
	body { background: none; width: 16cm; margin: 0 !important; 
	padding: 0 !important; line-height: 1.4; font-size: 12pt; }
	
	/* Typography */
	h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
	h1{font-size:19pt;}
	h2{font-size:17pt;}
	h3{font-size:15pt;}
	h4,h5,h6{font-size:12pt;}
	
	code { font: 10pt Courier, monospace; } 
	blockquote { margin: 1.3em; padding: 1em;  font-size: 10pt; }
	hr { background-color: #CCCCCC; }
	
	/* Images */
	img { float: left; margin: 1em 1.5em 1.5em 0; }
	a img { border: none; }
	
	/* Tables */
	table { margin: 1px; text-align:left; }
	th { border-bottom: 1px solid #333333;  font-weight: bold; }
	td { border-bottom: 1px solid #333333; }
	th,td { padding: 4px 10px 4px 0; }
	tfoot { font-style: italic; }
	caption { background: #FFFFFF; margin-bottom: 2em; text-align: left; }
	thead {display: table-header-group;}
	tr {page-break-inside: avoid;} 
	
}