<section id="primary_content">
	<h1>Partners</h1>
	<p>We bring brands and business together with relevant social innovators and enterprises creating experiential challenges, projects, ventures and relationships with benefits for all.</p>
	<p>Where business uses its skills, expertise, assets and know-how to accelerate new forms of enterprise.</p>
	<p>Good for collaboration, Good for new ways of working, Good for engagement, Good for innovation, Good for development and learning.</p>
	<% if @partners.any? %>
	<ul id="partner_list" class="grid_list">
		<% @partners.each do |partner| %>
		<li><%= link_to(image_tag(partner.logo, :alt => partner.name), partner.url) %></li>
		<% end %>
	</ul>
	<% end %>
</section>