<section id="primary_content">
	
	<h1>Gig Partners</h1>
	
	<div class="abstract">
		<p>We bring brands and business together with relevant social innovators and enterprises creating experiential challenges, projects, ventures and relationships with benefits for all. Where business uses its skills, expertise, assets and know-how to accelerate new forms of enterprise.</p>
		<p>Good for collaboration, Good for new ways of working, Good for engagement, Good for innovation, Good for development and learning.</p>
	</div>
	
	<% if @partners.any? %>
	<ul id="partner_list" class="grid_list grid_three">
		<% @partners.each do |partner| %>
		<li>
			<% if partner.logo.present? %>
				<%= link_to(image_tag(partner.logo, :alt => partner.name), partner.url) %>
			<% else %>
				<%= link_to(partner.name, partner.url, :class => "logo") %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
	
</section>

<aside id="secondary_content">
	<p class="cta"><%= link_to "Partner with us", new_messaging_partner_path %></p>
</aside>