<section id="primary_content">
	<h1>Good for Nothing &ndash; Collaborating for Good</h1>
	
	<h2>Chapters</h2>
	<ul>
		<% @chapters.each do |chapter| %>
		<li><%= chapter.title %></li>
		<% end %>
	</ul>
</section>