<section id="primary_content">
	<h1>From the horse's mouth</h1>
	<p>[Video of community members]</p>
</section>

<aside id="secondary_content">
	<h2>Who we are</h2>
	<p class="cta">Read all <%= link_to "about us", who_path %></p>
<aside>