<section id="primary_content">
	<h1>What is Good for Nothing?</h1>
	
	<h2>The crew and their chapters</h2>
	<ul>
		<% @chapters.each do |chapter| %>
		<li><%= chapter.title %></li>
		<% end %>
	</ul>
	
</section>