<section id="primary_content" class="single">
	
	<div class="abstract">
		<div>
			<h1>Calendar, the offline bits</h1>
			
			<p>We love the Interweb, but to solve challenges people also need to get together. Hooking up with likeminded folk at a gig or social, or just for a cuppa and a natter is the Good for Nothing way.</p>
			<p>Gigs are how GFN started and they continue to be at the heart of what we do; 24-48 hr collaborative experiments. Socials are just that, a time to meet up with fellow GFNers, have a natter and be merry.</p>
		</div>
		<p class="cta strong"><%= link_to "Take it online", challenges_path,  :class => "tip", :title => "Get stuck in to<br /> a challenge" %></p>
	</div>
	
	<% if @events.any? %>
	<ul class="grid_list">
		<% @events.each do |event| %>
		<li class="note">
			<% if event.class == Gig %>
				<%= render :partial => "gigs/block", :locals => { :gig => event } %>
			<% elsif %>
				<%= render :partial => "socials/block", :locals => { :social => event } %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
	
	<p class="cta strong"><%= link_to "Past gigs", gigs_path %></p>
	
</section>