<section id="primary_content" class="single chapter_sign_up">

	<div id="chapter_introduction">

		<h1 class="ir">Good in your Hood<span></span></h1>
	
		<div id="chapter_movement">
			<h2>The good for nothing movement is growing through local chapters</h2>
			<p>Networks of smart folk are hatching their own versions in cities around the UK and across our awesome planet.</p>
			<p>Nimble cells of do-ers, blowing up the toxic crumbling system with hi-energy creative collaboration gigs and local experiments.</p>
			<p>All with the learnings, love, support and mentoring from the Good for Nothing mothership. If you're interested in starting a chapter, keep on reading.</p>
		</div>
	
		<% if @chapters.any? %>
		<div id="chapter_contact">
			<h2>it's already happening in&hellip;</h2>
	
			<ul class="splodge_list">
				<% @chapters.each do |chapter| %>
				<li>
					<%= link_to chapter.title, message_chapter_messaging_messages_path(chapter), :class => 'tip', :title => "Contact" %>
				</li>
				<% end %>
			</ul>
	
		</div>
		<% end %>
		
	</div>
	
	<div id="chapter_start">
		
		<div class="container">
		
			<h2>Starting your own chapter</h2>
	
			<div id="chapter_crew">
				<h3>You'll need a crew</h3>
				<p>You'll need a crew, you won't be able to do this on your own. Two or three buddies is perfect. Good for Nothing is about diversity and lots of flavours. 
				<p>Ideally to start you'll have a design and communications flavour, a coding and tech flavour and a strong dose of social innovation &amp; sustainability within your chapter crew. This mix we find can be explosive.</p>
			</div>
	
			<ul id="chapter_flow">
				<li>You'll be Do-ers of some sort, creators, tinkerers</li>
				<li>You'll like ideas</li>
				<li>You'll be well connected in your city</li>
				<li>You'll know how to reach out to different networks</li>
				<li>You'll be ok with 'blagging' stuff &ndash; asking for contributions <br />of space, food, drinks and swag</li>
				<li>You'll like to get things done</li>
				<li>You’ll also like music (we love 4/4 beats ) parties and having a laugh.</li>
			</ul>
		
		</div>
		
	</div>
	
	<div id="chapter_involve">
		
		<div class="container">
		
			<h3>There are two ways to get started</h3>
			
			<p>Find a pub or cafe, pick a date, invite do-ers and interesting folk from your city. Show and share the Good for Nothing films and how it works. Find out who’s up for it. Form your chapter and go for it.</p>
			
			<p>Where the real ‘doing’ happens. Take a bit of organising but are rollercoaster learning journeys where you meet loads of smart folk and cool things happen to you. Start with 24 hrs unless you’re hardcore ;-)</p>
			
		</div>
		
	</div>
	
	<div id="chapter_call">
		<div class="container">
			<p>If you're still interested in starting GFN in your hood, drop us a line here and tell us why &ndash; we'll be in touch to set up a Skype call</p>
			<p id="call_mothership"><%= link_to "Call the mothership", new_messaging_chapter_path %></p>
		</div>
	</div>
	
</section>