<section id="primary_content" class="single">
	<h1>The Good for Nothing Community</h1>
	
	<article class="block">
		<h2>Members</h2>
		<p>Do-ers, the core of the community.</p>
		<p><%= link_to "All members &rarr;".html_safe, members_path %></p>
	</article>
		
	<article class="block">
		<h2>Ventures</h2>
		<p>The purpose. Why we're all here.</p>
		<p><%= link_to "All ventures &rarr;".html_safe, ventures_path %></p>
	</article>
	
	<article class="block">
		<h2>Friends</h2>
		<p>Helping make gigs possible.</p>
		<p><%= link_to "All friends &rarr;".html_safe, friends_path %></p>
	</article>
		
	<article class="block">
		<h2>Partners</h2>
		<p>Putting on gigs with us</p>
		<p><%= link_to "All partners &rarr;".html_safe, partners_path %></p>
	</article>
	
</section>