<section id="primary_content">

	<div class="panel">
		<h1>Conversations</h1>
		<p>Stuff we're talking about.</p>
	</div>
	
	<% if @categories %>
	<ul class="grid_list">
		<% @categories.each do |category| %>
			<li><%= link_to category.title, categorised_conversation_posts_path(category.slug) %></li>
		<% end %>
	</ul>
	<% end %>
			
</section>

<section id="secondary_content">
	<h2>The Library</h2>
	<p>The Library is a collection interesting stories and resources from around the web.</p>
	
	<%= render "conversation/bookmarks/search_form" %>	
	<%= render :partial => "conversation/tags/list", :locals => { :tags => @tags } %>
</section>