<section id="primary_content">

	<h1>Conversations</h1>
	
	<% if @categories %>
	<ul class="grid_list">
		<% @categories.each do |category| %>
			<li><%= link_to category.title, categorised_conversation_posts_path(category.slug) %></li>
		<% end %>
	</ul>
	<% end %>
			
</section>

<section id="secondary_content">
	<h2>The Library</h2>
	<%= render :partial => "conversation/tags/list", :locals => { :tags => @tags } %>
	<h2>Search the library</h2>
	<%= render "conversation/bookmarks/search_form" %>
</section>