<section id="primary_content">
	
	<h1>How do we fund Good for Nothing?</h1>
		
	<p>To date, we've funded most of our gigs and projects ourselves.</p>
		
	<p>In our day jobs (<a href="http://www.swarm.gd">Swarm Partnership</a>) we work to hatch collaborative solutions to solve social and enviromental organisations. These pay our bills and keep us out of trouble, (most of the time).</p>
	<p>In the rest of our time (often late nights and weekends), we’ve become hooked on Good for Nothing. What started out as a wee experiment is now our own "social mission" &ndash; a movement we're growing in which we invest our time, energy and money to make happen.</p>
	<p>So far, we’ve never charged anyone to come and do Good for Nothing. We’ve flogged the odd Tee Shirt but we like the idea of ‘free’ and would ideally like to keep it that way for folk who rock up and do awesome stuff.</p>

	<h2>There’s 2 main costs to putting on a gig</h2>
	
	<p>Our own time, and physical cash, money, dollar.</p>
		
	<p>In terms of real money, each gig typically costs between &pound;1,000 and &pound;3,000 to put on, depending on the number of people who pitch up and how much support we get from our awesome Friends. Without these generous folk, Good for Nothing wouldn’t happen and we love them dearly for helping us out with space, food, drink, music and all sorts of support.</p>
	<p>In terms of our time, we’re not timesheet keeping sorts but we know that it takes a couple of months of planning to get right. Our best guess is that we put in about 20 days of graft between us to get a gig set-up, and then we pitch up like everyone else over the weekend. Then there’s ongoing follow-up with the causes and community.</p>
	<p>In terms of cash value, that’s probably not far off 20,000 to 30,000 whole British Pounds (eek!). Sounds quite a lot when you add it up&hellip;</p>
	
	<h2>Other sources of funding</h2>
	
	<p>One of other avenues we’ve been exploring this year is other sources of funding, namely:</p>
	
	<h3>1. Grant Funding</h3>
	<p>In March, we were lucky enough to win &pound;100,000 from Nesta and The Cabinet Office (from their Innovation in Giving fund). We’ve been carefully investing this money to seed new chapters of Good for Nothing across the UK, to ramp up how we grow and nurture the community and to build our web-platform to enable more people to get involved, in more places and in more ways. </p>
	<p>In short, it’s helped us massively accelerate Good for Nothing which is awesome and we’re chuffed to have been recognised in this way. We’re now actively looking for other funders who are keen to back us as we grow the impact and scale of GFN in UK and beyond. If that’s you get in touch!</p>

	<h3>2. Friends/Sponsorship</h3>
	<p>The second experiment we’ve been doing is to ask for gig sponsors - <%= link_to "Friends", friends_path %> who provide money as their way of supporting Good for Nothing.</p>

	<p>So for Wild Thing as an example, we were able to cover the real costs of the event which was &pound;3k through the generous donations of Green Lions, Do Lectures, Al Kennedy, National Trust, TYF who all put in £500 and Eden Project who chucked in £1000. With that cash, we were able to put on a great experience - putting up a marquee in Kings Cross, hiring a sound system paying Global Generation to provide great food and donate their space, buying some beer and making a few badges, stickers and t-shirts for everyone who came.</p>

	<p>We’re keen to see if we can also extend this concept to attract challenge sponsors - in this case an organisation could pay to host a challenge on the site and/or potentially fund a gig too. The goal here is to make the challenge big and meaningful enough to be exciting i.e. to have the potential disruptively innovate on a big social or environmental issue. More coming on this soon but if you are interested in sponsoring a big challenge, please do get in touch.</p>

</section>

<aside id="secondary_content">
	<p class="cta"><%= link_to "more questions?", "mailto:hello@goodfornothing.com" %></p>
</aside>
