<div class="section_home" style="padding-top:30px;">
	<div class="container" style="width:100%">
		<h1>Gift Card</h1>
		
		<p>You've received an anonymous act of generoisty.<br>This is your invitation to pass it on.<br> Do something for someone and keep the giving going!</p>

		<p>
			<%= link_to "goodfornothing.com/giftcard", "http://goodfornothing.com/giftcard" %><br />
			Check out <%= link_to "#giftie", "https://www.instagram.com/explore/tags/giftie/" %> on Instagram.
		</p>

	</div>
</div>
