<section id="primary_content">
	
	<h1>Highlights</h1>
	

	<p>
		The GFN community has put on over a hundred gigs, helping to turbo charge ventures who are trying to make the world that little bit better. We're always on the look out for other ventures, as well as people who can help make gigs happen (either <a href="http://www.goodfornothing.com/good-in-your-hood"> setting up a crew</a></a>, or supporting gigs with food, booze and space!) so please do drop us a line if you're up for getting more good for nothing going. Here are just a few of our epic moments so far...
</p>
	<h2>The DoNation - impact 18 months on</h2>
	<p>
<a href="https://www.wearedonation.com/">DoNation</a> is a new way of fundraising, replacing sponsorship cash with actions. Their CEO, Hermione explains that as well as loads of <a href="http://donatebydoing.wearedonation.com/about/our-blog/something-nothing">useful stuff</a> from the GFN gig (a powerful new manifesto video, infographic and flyers) it was the relationships she formed at that gig that led to the DoNation's first clients in their new venture, including ERM. Five months in and almost ¼ of ERM’s 500 staff have actively taken part in their Do Good programme; together making 280 pledges and saving as much carbon as 23 flights form London to New York. Wow. That's real action, read Hermione's post about GFN <a href="http://www.goodfornothing.com/posts/guest-post-the-impact-of-good-for-nothing-18-months-on-the-donation-story">here</a> >
</p>

<h2>Gnewt Cargo</h2>

<p>
Gnewt Cargo are a zero carbon delivery service in central London. They asked GFN for help with bringing to life their story, visualising their impact, and using their fleet out of hours for social good. So GFN revamped their logo and tagline (you can now spot it all over London), re-designed their website, made the 'cargolator' - a carbon calculator showing the amount of carbon emissions saved per delivery, and visited Columbia Road flower market on Sunday morning to find ways of delivering recycled coffee mulch to feed plants while using the bikes out of hours.
</p>

<h2>Beating cancer faster with Cancer Research UK and Citizen Science</h2>
<p>
By the end of the CRUK gig to gamify data analysis and beat cancer faster, the crew had already built an app and got it in the app marketplace. With another prototype ready to go CRUK ended up hiring a dev crew in order to turn those apps into perfect products. The GFN crew were involved all the way, and 18 months later those apps had resulted in over 2.5 million classifications of cancer. Check out the video <a href="https://vimeo.com/84121507">here</a> and download them <a href="http://www.cancerresearchuk.org/support-us/citizen-science-apps-and-games-from-cancer-research-uk">here</a>. 
</p>

<h2>Po Zu Shoes evening energy and research blast</h2>
<p>
<a href="http://po-zu.com/">Po Zu</a>shoes combine gorgeous shoes with outstanding ethics for shoes you can literally fall in love with. The GFN community got together for an evening blast in a pub, and Po Zu said they ended up feeling 'like an extension of our team'. They more than got what they wanted - some gorgeous branding to match their shoes, and a load of energy and ideas for their business model and funding. What they didn't bet on was the crew hitting on the need to bring the experience of wearing their shoes to life. So after the gig a couple of GFN'ers who specialise in research offered to conduct some wearer trials to find out just how unique and lovely people find wearing their shoes. Watch the gig film <a href="http://www.goodfornothing.com/posts/good-for-nothing-in-a-pub-with-po-zu">here</a>>
</p>

<h2>Project Wild Thing</h2>
<p>
Going on to critical acclaim as a film that will 'change your life' (Giardian) the GFN crew spent a mad weekend coming up with campaign concepts, and prototyping products to launch <a href="projectwildthing.com">Project Wild Thing</a>. Those ideas turned into a national campaign and the Wild Time app.
</p>

<h2>Socks and Chocs</h2>
<p>
<a href="http://socksandchocs.co.uk/">Socks and Chocs</a> is a Birmingham based homelessness initiative. In just 24 hours the GFN crew designed and made them a brand new website and supporter pack - as well as a bunch of other materials. 
</p>

<p>
GFN's are bonkers unique events and we can't quite put them into words. We're chuffed that a bunch of folk get what the GFN community is doing - we got an award from NESTA's Innovation In Giving, and were Voted as one of Top 50 most radical organisations changing face of Britain in 2014 in The Observer.
</p>
<p>
As well as achieving extraordinary things in such short times, it's the experience of working in new ways, and meeting a wonderful crew, that people say they love the most. If you're up for it you can join here, or even think about <a href="http://www.goodfornothing.com/good-in-your-hood">setting up a crew</a> in your hood (find out more about what that's like in <a href="http://www.goodfornothing.com/posts/doing-good-for-nothing">Michael's warbling</a>).
</p>
<p>
And of course, we're always looking for new partnerships to help make gigs happen. If you might be able to help out with a venue, food, beer or anything else to get the gig pumping please do drop us a line.
</p>

</section>
