<section id="primary_content">
	<h1>How Good for Nothing works</h1>
	
</section>

<aside id="secondary_content">
	<h2>Who we are</h2>
	<p class="cta">Read all <%= link_to "about us", about_path %></p>
<aside>