<section id="primary_content">
	<h1>What?</h1>
	
	<p>Good for Nothing is a community of thinkers, do-ers, makers and tinkerers applying their skills and energy to accelerating the work of cause led innovators and change makers.</p>
	<p>Good for Nothing is about diverse groups of people collaborating together, working in new, faster, fun and better ways.</p>
	<p>Its about working with ideas and people that are leading the way to what a flourishing 21st century society might look like.</p>
	
	<h2>Why?</h2>
	
	<p>We're bored of seeing so much amazing talent working flat out supporting creaking, toxic, industrial age business, propping up the materials based production and consumption economy.</p>

	<p>And we’re inspired by the work of the awesome grass-roots innovators and change makers.</p>

	<p>Good for Nothing is about bringing these people together and seeing what happens. It’s also about exploring fun, open, collaborative and self–organised ways of working.</p>
	
	<h2>How?</h2>
	
	<h2>From the horse's mouth</h2>
	<p>[community video]</p>
	
	<h2>How to get shit done</h2>
	
	<ol>
		<li>
			<h3>Doing, not talking</h3>
			<p>It's not that hard to talk clever and think big and there’s an oversupply of that in our world. Too often big thinking doesn’t lead to big doing. We look around and see so much that needs doing. Roll up your sleeves and ‘fail gloriously’ as Duke Stump once said. Good for Nothing stands for permission to have a go, get involved, participate and to try stuff.</p>
		</li>
		<li>
			<h3>Collaborate and experiment</h3>
			<p>Words we all hear a lot but true collaboration, where real diversity and openness is welcomed, where we let go of power and control, where we self organise and allow ideas and energy to emerge more naturally and where we prototype and develop them rapidly. We want to do more of that.</p>
		</li>
		<li>
			<h3>Support the true innovators</h3>
			<p>Give creative energy to the real innovators trying to make positive change happen. When we look around for social, environmental and human innovation, a lot of the most exciting stuff is happening at the grass-roots. We provide creative support to those pioneers. We think that can help accelerate positive change and impact.</p>
		</li>
	</ol>
	
</section>

<aside id="secondary_content">
	<p class="cta"><%= link_to "Who are we?", who_path %></p>
<aside>