<section id="primary_content" class="single">
	
	<h1>The crew</h1>
	<p>We're various people scattered around the UK. <%= link_to "Start your own", "mailto:hello@goodfornothing.com" %> chapter?</p>	
	
	<ul class="grid_list grid_four">
		<% @all_chapters.each do |chapter| %>
			<li>
				<h3><%= chapter.title %></h3>
				<p><%= chapter.users.crew.map{ |u| link_to u['name'], member_path(u) }.join(', ').html_safe %></p>
			</li>	
		<% end %>
	</ul>
	
	<p class="cta"><%= link_to "Find out what's happening in your area", calendar_path %></p>
	
</section>