<section id="primary_content">
	
	<h1>The Crew</h1>
	
	<div class="abstract">
		<p>We love the Interweb, but to solve challenges people also need to get together. Hooking up with likeminded folk at a gig or social, or just for a cuppa and a natter is the Good for Nothing way.</p>
		<p>We're hatching local chapters to help good folk do just that. If we're not near you yet and you'd like to bring Good for Nothing to your hood, <a href="mailto:hello@goodfornothing.com">drop us a note</a>, we'd love to talk.</p>
	</div>
	

	<ul class="avatar_grid">
		<% @all_chapters.each do |chapter| %>
			<li class="avatar compact index_title">
				<%= chapter.title %>
			</li>
			<% chapter.users.crew.each_with_index do |member,index| %>	
			<li class="avatar compact">	
				<% if member.avatar.blank? %>
					<%= link_to (image_tag "assets/avatar_small.png", :alt => member.name), member_path(member), :class => "tip", :title => member.name %>
				<% else %>
					<%= link_to (image_tag member.avatar.compact, :alt => member.name, :title => member.name), member_path(member), :class => "tip", :title => member.name %>
				<% end %>
			</li>
			<% end %>
		<% end %>	
	</ul>
				
</section>

<aside id="secondary_content">
	<p class="cta"><%= link_to "Chapter calendar", calendar_path %></p>
</aside>