<section id="primary_content">
	<h1>Friends</h1>
	
	<p>Good for Nothing does cost a few quid to put on. Luckily there are some awesome companies and organisations out there who have supported us through donating products, services, space and time to help us put on a great experience.</p>
	<p>We thank you very much, you are all awesome.</p>
	
	<% if @friends.any? %>
		<% @friends.each do |friend| %>
		<article>
			<% if friend.logo.present? %>
				<%= image_tag(friend.logo, :alt => friend.name) %>
			<% end %>
			<h2><%= link_to(friend.name, friend.url) %></h2>
			<p><%= friend.description %></p>
		</article>
		<% end %>
	<% end %>
	
</section>

<aside id="secondary_content">
	<h2>Become a friend</h2>
	<p>We're always looking for help with our weekends. Maybe you can <%= link_to "help us out?", how_path %></p>
</aside>