<section id="primary_content">
	<h1>Friends</h1>
	
	<div class="abstract">
		<p>Good for Nothing does cost a few quid to put on. Luckily there are some awesome companies and organisations out there who have supported us through donating products, services, space and time to help us put on a great experience.</p>
		<p>We thank you very much, you are all awesome.</p>
	</div>
	
	<% if @friends.any? %>
		<ul class="grid_list">
		<% @friends.each do |friend| %>
		<li>
			<% if friend.logo.present? %>
				<%= image_tag(friend.logo, :alt => friend.name) %>
			<% else %>
				<%= link_to(friend.name, friend.url) %>
			<% end %>
		</li>
		<% end %>
		</ul>
	<% end %>
	
</section>

<aside id="secondary_content">
	<p class="cta"><%= link_to "help Fuel our gigs", new_partner_path %></p>
</aside>