<section id="primary_content">
	<h1>Friends, making gigs possible</h1>
	
	<div class="abstract">
		<p>Good for Nothing does cost a few quid to put on. Luckily there are some awesome companies
		and organisations out there who support the movement through donating products, services,
		space and time to help us put on a great experience.</p>
		<p>We thank you very much, you are all lovely.</p>
	</div>
	
	<% if @friends.any? %>
		<ul class="grid_list grid_three">
		<% @friends.each do |friend| %>
		<li>
			<% if friend.logo.present? %>
				<%= link_to image_tag(friend.logo, :alt => friend.name), friend.url %>
			<% else %>
				<%= link_to(friend.name, friend.url, :class => "logo") %>
			<% end %>
		</li>
		<% end %>
		</ul>
	<% end %>
	
</section>

<aside id="secondary_content">
	<p class="cta"><%= link_to "Fuel a gig", new_messaging_partner_path %></p>
</aside>