<section id="primary_content" class="single">

	<div class="primary_panel">

		<h1>Something's gone wrong</h1>
		<p>This is a little embarrassing. Your message hasn't been sent, we're not sure why, go back and try again or <%= link_to "mailto:hello@goodfornothing.com", "drop us a note", %> and let us know what happened.</p>
		
	</div>
		
</section>