<section id="primary_content">
	<h1>Social Venturers</h1>
	
	<p>Good for Nothing works with grassroots social innovators, social enterprises, change makers, activists, film makers and charities who are positively disrupting the system with innovative and creative approaches to solving a social or environmental problem.</p>
	<p>Ideas and people who are re-imagining what ‘business’ and society can be like in the 21st century.</p>
	<p>If that sounds like you and you have a mission you need help with please, <a href="mailto:hello@goodfornothing.com">get in touch</a>.</p>
	
	<% if @ventures.any? %>
	<ul id="venture_list" class="grid_list">
		<% @ventures.each do |venture| %>
		<li>
			<% if venture.logo.present? %>
				<%= link_to(image_tag(venture.logo, :alt => venture.name), venture.url) %>
			<% else %>
				<%= link_to(venture.name, venture.url) %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<% end %>
</section>

<aside id="secondary_content">
	<h2>Submit a brief</h2>
	<p>Do it...</p>
</aside>