<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>A new Good for Nothing challenge has been submitted.</p>
    
	<p><strong>Name</strong>: <%= @submission.name %><br />
	<strong>Email</strong>: <%= @submission.contact %></p>
	
	<p><strong>Summary</strong>: <br /><%= @submission.description %></p>

	<p><%= link_to "Review it", hive_messaging_message_url(@submission.message) %> at the hive.</p>
  </body>
</html>