<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>A new Good for Nothing challenge has been submitted.</p>
    
	<p><strong>Name</strong>: <%= @challenge.title %><br />
	<strong>Email</strong>: <%= @challenge.contact %></p>
	
	<p><strong>Summary</strong>: <br /><%= @challenge.description %></p>

	<p><%= link_to "Review it", admin_challenge_url(@challenge) %> at the hive.</p>
  </body>
</html>