<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Good for Nothing partner request.</p>
    
	<%= render "submission" %>

	<strong>Type of request</strong>: <%= @submission.purpose %></p>
	<p><strong>Notes</strong>: <br /><%= @submission.notes %></p>

  </body>
</html>