<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @trill.user.name %> has published a new Trill</p>
    
	<p>Read all about it <%= link_to "over yonder", hive_trill_url(@trill) %>.</p>
	
  </body>
</html>