<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Thank you for joining Good For Nothing.</p>
    
	<p>
		Your chapter leaders will hopefully be planning the next get together. You could message them to see if they need any support and if you are around you should definitely come along to the next gig in your city, and tell all your friends!
	</p>
  </body>
</html>