block = '<%= escape_javascript( render( :partial => "contributions/block", :locals => { :contribution => @contribution } ) ) %>';
$('#contributions').prepend("<li class='contribution' style='display: none'>"+block+"</li>");
scrollToElement($('#contributions')[0]);
$('#contributions li:first-child').slideDown();
$('#new_contribution')[0].reset();
$('#new_contribution textarea, #new_contribution input').blur();
