<section id="primary_content" class="single">

	<div class="primary_panel">

		<h1>What happens next?</h1>
		<p>Thanks for submitting your challenge to Good For Nothing, we'll be in touch soon to chat things through!</p>
		
	</div>
		
</section>