<section id="primary_content" class="single">

	<div class="primary_panel">

		<h1>Thanks!</h1>
		<p>We'll be back in touch when we've had a wee think. If you don't hear back from us in a week, <a href="http://www.twitter.com/g00dfornothing">give us a nudge</a> on Twitter.</p>
		
	</div>
		
</section>