<p>You can <%= link_to "review it", hive_message_url(@submission.message) %> at the hive, a summary is below:</p>

<p><strong>Name</strong>: <%= @submission.message.from_name %><br />
<strong>Email</strong>: <%= @submission.message.from_email %></p>