<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>A new Good for Nothing challenge has been submitted.</p>
    
	<%= render "submission" %>
	
	<p><strong>Summary</strong>: <br /><%= simple_format @submission.description %></p>

  </body>
</html>