<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	
    <p>You have a new message from <strong><%= @message.from_name %></strong> on Good for Nothing!</p>
    
	<p><strong>To Reply</strong>: 
		<% if @message.user.nil? %>
			<%= @message.from_email %>
		<% else %>
			View their <%= link_to "profile", member_url(@message.user) %>
		<% end %>
	</p>
	<p><strong>Message</strong>: <%= @message.body %></p>

  </body>
</html>