<div class="challenge_panel">
	
	<h2><%= link_to challenge.title, challenge_path(challenge) %></h2>
	
	<%
		activity = [
			"#{pluralize(challenge.bookmarks.count,'inspiration')}",
			"#{pluralize(challenge.ideas.count,'idea')}",
			"#{pluralize(challenge.contributions.count,'contribution')}"	
		]
	
	%>
	
	<% if challenge.warblings.any? %>
		<%= link_to (image_tag "warblings/#{challenge.warblings.first.slug}.png", :class => "tip", :title => "#{challenge.warblings.map(&:title).to_sentence}"), warbling_challenges_path(challenge.warblings.first) %>
	<% end %>
	
	<% if challenge.venture %>
		<%= "<p class='cause'>For #{challenge.venture.name}</p>".html_safe  %>
	<% elsif challenge.gig.present? && challenge.gig.partner %>
		<p class='cause'><%= "In partnership with #{challenge.gig.partner.name}"%></p>
	<% end %>
	
</div>