<section id="primary_content">
	
	<h1>Challenges</h1>
			
	<% if @challenges.any? %>
		<h2>Open challenges</h2>
		<ul>
		<% @challenges.each do |challenge| %>
			<li><%= link_to challenge.title, challenge_path(challenge) %> <%= "for #{challenge.venture.name}" if challenge.venture.present? %></li>
		<% end %>
		</ul>
	<% end %>
		
</section>