<section id="primary_content">
	<h1>Thanks for sending us your challenge</h1>
	<p>We'll be back in touch when we've had a wee think.</p>
	<p>If you don't hear back from us in a week, <a href="http://www.twitter.com/g00dfornothing">give us a nudge</a> on Twitter.
	<p><em>GFN crew</em></p>
</section>