<div class="block">
	
	<% unless post.hero_image.url.nil? %>
		<%= link_to (image_tag post.hero_image.panel, :class => "hero"), post_path(post) %>
	<% end %>
	
	<% if post.body.blank? %>
		<h3><%= post.title %></h3>
	<% else %>
		<h3><%= link_to post.title, post_path(post) %></h3>
	<% end %>
	
	<%= markdown.render(post.excerpt).html_safe %>

</div>