<section id="primary_content">

	<h1>Good for Nothing Goings On</h1>
		
	<% if @updates.any? %>
	<ul>
		<% @updates.each do |post| %>
		<li><%= link_to post.title, post_path(post) %></li>
		<% end %>
	</ul>
	<% end %>	
			
</section>

<% if @warblings.any? %>
<aside id="secondary_content">
	<ul class="filter_list">
		<% @warblings.each do |warbling| %>
			<li class="warbling_small small_warbling_<%= warbling.slug.underscore %>"><%= link_to warbling.title, warbling_path(warbling) %></li>
		<% end %>
	</ul>
</section>
<% end %>