<section id="primary_content" class="single">

	<h1>Musings on Good for Nothing</h1>
		
	<% if @updates.any? %>
	
		<% @updates.each do |post| %>
			<%= render :partial => "list_block", :locals => { :post => post } %>
		<% end %>
	
	<% end %>
	
	<p class="cta strong"><%= link_to "More Warblings", warblings_path %></p>
			
</section>