<article class="full">
	<h3><%= link_to gig.title, gig_path(gig) %></h3>
	<% if gig.start_time && gig.end_time %>
	<time><%= gig.start_time.to_formatted_s(:long_ordinal) %> - <%= gig.end_time.to_formatted_s(:long_ordinal) %></time>
	<% end %>
</article>