<section id="primary_content">
	
	<h1><%= @chapter.title if @chapter.present? %> Gigs</h1>
	
	<p>Gigs are how GFN started and they continue to be at the heart of what we do; 24 to 48 hour experiences.</p>
	<p>Fast track making, doing and rapid prototyping; building community through demanding common tasks with music, food and laughs &ndash; creative collaboration meets rave, real people, working on real challenges, together.</p>
		
	<% if @current_gigs.any? %>
		<h2>Upcoming gigs</h2>
		<% @current_gigs.each do |gig| %>
			<%= render :partial => "block", :locals => { :gig => gig } %>
		<% end %>
	<% end %>


	<% if @past_gigs.any? %>
		<h2>Past gigs</h2>
		<% @past_gigs.each do |gig| %>
			<%= render :partial => "block", :locals => { :gig => gig } %>
		<% end %>
	<% end %>

		
</section>

<aside id="secondary_content">
	<% if @chapters.any? %>
	<h2>Chapters</h2>
	<p>Good for Nothing gigs happening in your local area.</p>
	<ul>
		<% @chapters.each do |chapter| %>
		<li><%= link_to chapter.title, chapter_gigs_path(chapter) %></li>
		<% end %>
	</ul>
	<% end %>
</aside>