<section id="primary_content" class="single">
	
	<h1>Gigs, come and gone</h1>

	<% if @past_gigs.any? %>
	<ul class="grid_list">
		<% @past_gigs.each do |gig| %>
		<li class="note">
			<%= render :partial => "gigs/block", :locals => { :gig => gig } %>
		</li>
		<% end %>
	</ul>
	<% end %>
	
	<p class="cta strong"><%= link_to "Upcoming events", calendar_path %></p>

</section>