<section id="primary_content">
	
	<h1>Past gigs</h1>

	<% if @past_gigs.any? %>
		<h2>Past gigs</h2>
		<% @past_gigs.each do |gig| %>
			<%= render :partial => "block", :locals => { :gig => gig } %>
		<% end %>
	<% end %>

</section>

<section id="secondary_content">
	<p class="cta"><%= link_to "Upcoming gigs", calendar_path %></p>
</section>