body { font-family: 'Helvetica Neue', Helvetica, Sans-Serif; }

/* =h1 */

  h1 { 
    font-size: 2em; 
    font-weight: 100;
    letter-spacing: 1px;
	margin-bottom: 1.25em;
  }

/* =h2 */

  h2 { 
    font-size: 1.25em; margin-bottom: 1em;
    font-weight: normal; color: #333; 
    text-shadow: 0 1px 0px #ffffff;
  }

/* =h3 */

  h3 { 
    font-size: 0.825em; 
    margin-bottom: 0.25em; }

/* =p */

  p { 
    font-size: 0.825em;
    line-height: 1.5em; 
    margin-bottom: 1em;
  }

/* =a */

  a { color: #E31937; text-decoration: none; }
  a:hover, a:focus, a:active { text-decoration: underline; }

/* =ul,ol,dl */

  ul, dl, ol { padding: 0.25em 2em 1.5em 1em; list-style-position: inside; }
  dl, ul { list-style-type: disc; }
  ol { list-style-type: decimal; }

  ol li ol, ol li ul, ul li ul, ul li ol
  { font-size: 1em; padding: 0.8em 0em 0em 1em; }

/* =li */

  li { font-size: 0.825em; line-height: 1.25em; }
