Having trouble? Check out the <a href='https://github.com/goodfornothing/goodfornothing/wiki'>documentation</a> or <a href='mailto:hello@goodfornothing'>drop us a note</a> and <br />we'll try to help!