<section id="primary_content">

	<h1>Warbling about stuff that matters</h1>
	
	<p>Warblings are community driven streams of consciousness around topics that matter &ndash; thoughts, ponderances and snippets from the web.</p>
	
	<% if @warblings %>
	<ul class="grid_list grid_three">
		<% @warblings.each do |warbling| %>
			<li class="warbling warbling_<%= warbling.slug.underscore %>"><%= link_to warbling.title, warbling_path(warbling) %></li>
		<% end %>
	</ul>
	<% end %>
	
			
</section>

<aside id="secondary_content">	
	<p class="icon_updates"><%= link_to "Good for Nothing goings on", posts_path %></p>
	<%#= link_to "The library".html_safe, library_path, :class => "tip", :title => "For Web-based research" %>
</aside>