<section id="primary_content">

	<h1>Warbling about stuff that matters</h1>
	
	<p>Warblings are community driven streams of consciousness around topics that matter &ndash; thoughts, ponderances and snippets from the web.</p>
	
	<% if @issues %>
	<ul class="grid_list grid_three">
		<% @issues.each do |issue| %>
			<li class="warbling warbling_<%= issue.slug.underscore %>"><%= link_to issue.title, warbling_path(issue) %></li>
		<% end %>
	</ul>
	<% end %>
	
			
</section>

<aside id="secondary_content">	
	<p class="icon_updates"><%= link_to "Good for Nothing goings on", posts_path %></p>
</aside>