<section id="primary_content">
	<h1>Good for Nothingers</h1>

	<h2>That you've worked with [from gigs attended]</h2>
	
	<h2>In your area...</h2>
	
	<h2>Everyone else</h2>
	
	<% if @members.any? %>
		<ul>
			<% @members.each do |member| %>
			<li><%= link_to member.name, member_path(member) %></li>
			<% end %>
		</ul>
	<% else %>
		<p>No one is Good for Nothing.</p>
	<% end %>
</section>

<aside id="secondary_content">
	<h2>Join the community</h2>
	<p>Do it...</p>
</aside>